<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>notice</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/notice.css"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="page">
        <div class="title">안내드립니다</div>
        <div class="notice">
            <div class="notice-banner">공지사항</div>
            <div class="notice-container">
                <div class="notice-header">
                    <div class="total">총 게시물 <strong>0</strong>건</div>
                    <!-- 서치 -->
                    <div class="header-search">

                        <!-- 열리는 검색창 -->
                        <form th:action="@{/search}"
                              method="get"
                              class="search-form">

                            <input type="text" style="border: none;"
                                   name="kw"
                                   placeholder="검색어를 입력하세요"
                                   th:value="${kw}"
                                   autocomplete="off"
                                   required>

                            <button class="search-btn" type="submit">검색</button>
                        </form>
                    </div>
                </div>
                <div class="notice-body">
                    <div class="notice-list">
                        <div class="number">번호</div>
                        <div class="name">제목</div>
                        <div class="add">첨부</div>
                        <div class="hits">조회수</div>
                        <div class="date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                    <div class="notice-text">
                        <div class="text-number">번호</div>
                        <div class="text-name">제목</div>
                        <div class="text-add">첨부</div>
                        <div class="text-hits">조회수</div>
                        <div class="text-date">등록일</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>