<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<body>

<header class="site-header"
        th:fragment="header">

    <div class="header-inner">

        <!-- =========================
             로고
        ========================== -->
        <div class="logo-area">

            <a th:href="@{/}"
               href="/"
               class="logo-link">

                <img th:src="@{/img/webchef-logo.png}"
                     src="/img/webchef-logo.png"
                     alt="WebChef 로고"
                     class="logo-img">

                <span class="logo-text">
                    WebChef
                </span>

            </a>

        </div>


        <!-- =========================
             헤더 메뉴
        ========================== -->
        <nav class="gnb">


            <!-- =========================
                 냉장고를 부탁해
            ========================== -->
            <div class="gnb-item">

                <a th:href="@{/fridge}"
                   href="/fridge"
                   class="gnb-link">

                    냉장고를 부탁해

                </a>

                <div class="mega-menu fridge-mega-menu">

                    <div class="mega-inner">

                        <div class="mega-title-box">

                            <h3>
                                냉장고를 부탁해
                            </h3>

                            <p>
                                냉장고 속 재료를 입력하면<br>
                                지금 만들 수 있는 요리와 강의를<br>
                                찾아드립니다.
                            </p>

                        </div>

                        <div class="mega-search-box">

                            <form th:action="@{/fridge/search}"
                                  action="/fridge/search"
                                  method="get">

                                <input type="text"
                                       name="keyword"
                                       placeholder="예: 계란, 김치, 참치, 양파">

                                <button type="submit">
                                    검색
                                </button>

                            </form>

                            <div class="keyword-tags">

                                <a th:href="@{/fridge/search(keyword='계란')}"
                                   href="/fridge/search?keyword=계란">
                                    계란
                                </a>

                                <a th:href="@{/fridge/search(keyword='김치')}"
                                   href="/fridge/search?keyword=김치">
                                    김치
                                </a>

                                <a th:href="@{/fridge/search(keyword='참치')}"
                                   href="/fridge/search?keyword=참치">
                                    참치
                                </a>

                                <a th:href="@{/fridge/search(keyword='양파')}"
                                   href="/fridge/search?keyword=양파">
                                    양파
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- =========================
                 요리 강의
            ========================== -->
            <div class="gnb-item dropdown-gnb-item">

                <a th:href="@{/course/list}"
                   href="/course/list"
                   class="gnb-link">

                    요리 강의

                </a>

                <div class="vertical-dropdown course-vertical-dropdown">


                    <!-- 분류 -->
                    <div class="vertical-group">

                        <div class="vertical-group-title">

                            <span>분류</span>

                            <span class="vertical-arrow">
                                ▾
                            </span>

                        </div>

                        <div class="vertical-submenu">

                            <a th:href="@{/course/list(category='KOREAN')}"
                               href="/course/list?category=KOREAN">

                                한식

                            </a>

                            <a th:href="@{/course/list(category='CHINESE')}"
                               href="/course/list?category=CHINESE">

                                중식

                            </a>

                            <a th:href="@{/course/list(category='JAPANESE')}"
                               href="/course/list?category=JAPANESE">

                                일식

                            </a>

                            <a th:href="@{/course/list(category='WESTERN')}"
                               href="/course/list?category=WESTERN">

                                양식

                            </a>

                            <a th:href="@{/course/list(category='DESSERT')}"
                               href="/course/list?category=DESSERT">

                                간식 / 디저트

                            </a>

                            <a th:href="@{/course/list(category='ETC')}"
                               href="/course/list?category=ETC">

                                기타

                            </a>

                        </div>

                    </div>


                    <!-- 난이도 -->
                    <div class="vertical-group">

                        <div class="vertical-group-title">

                            <span>난이도</span>

                            <span class="vertical-arrow">
                                ▾
                            </span>

                        </div>

                        <div class="vertical-submenu">

                            <a th:href="@{/course/list(difficulty='EASY')}"
                               href="/course/list?difficulty=EASY">

                                쉬움

                            </a>

                            <a th:href="@{/course/list(difficulty='NORMAL')}"
                               href="/course/list?difficulty=NORMAL">

                                보통

                            </a>

                            <a th:href="@{/course/list(difficulty='HARD')}"
                               href="/course/list?difficulty=HARD">

                                어려움

                            </a>

                        </div>

                    </div>


                    <!-- 베스트 -->
                    <div class="vertical-group">

                        <div class="vertical-group-title">

                            <span>베스트</span>

                            <span class="vertical-arrow">
                                ▾
                            </span>

                        </div>

                        <div class="vertical-submenu">

                            <a th:href="@{/course/list(sort='popular')}"
                               href="/course/list?sort=popular">

                                인기 시청 순

                            </a>

                            <a th:href="@{/course/list(sort='search')}"
                               href="/course/list?sort=search">

                                인기 검색 순

                            </a>

                        </div>

                    </div>

                </div>

            </div>


            <!-- =========================
                 자취 요리 팁
            ========================== -->
            <div class="gnb-item dropdown-gnb-item">

                <a th:href="@{/tips/list}"
                   href="/tips/list"
                   class="gnb-link">

                    자취 요리 팁

                </a>

                <div class="vertical-dropdown tips-vertical-dropdown">

                    <div class="vertical-group">

                        <div class="vertical-group-title">

                            <span>팁 카테고리</span>

                            <span class="vertical-arrow">
                                ▾
                            </span>

                        </div>

                        <div class="vertical-submenu">

                            <a th:href="@{/tips/list(category='INGREDIENT_PREP')}"
                               href="/tips/list?category=INGREDIENT_PREP">

                                재료 손질법

                            </a>

                            <a th:href="@{/tips/list(category='INGREDIENT_STORE')}"
                               href="/tips/list?category=INGREDIENT_STORE">

                                재료 보관법

                            </a>

                            <a th:href="@{/tips/list(category='TOOL_MANAGE')}"
                               href="/tips/list?category=TOOL_MANAGE">

                                조리도구 관리법

                            </a>

                        </div>

                    </div>

                </div>

            </div>


            <!-- =========================
                 우리들의 대화
            ========================== -->
            <div class="gnb-item dropdown-gnb-item">

                <a th:href="@{/community/list}"
                   href="/community/list"
                   class="gnb-link">

                    우리들의 대화

                </a>

                <div class="vertical-dropdown community-vertical-dropdown">

                    <div class="vertical-group">

                        <div class="vertical-group-title">

                            <span>커뮤니티</span>

                            <span class="vertical-arrow">
                                ▾
                            </span>

                        </div>

                        <div class="vertical-submenu">

                            <a th:href="@{/community/list(category='레시피 꿀팁')}"
                               href="/community/list?category=레시피%20꿀팁">

                                레시피 꿀팁

                            </a>

                            <a th:href="@{/community/list(category='장보기 팁')}"
                               href="/community/list?category=장보기%20팁">

                                장보기 팁

                            </a>

                            <a th:href="@{/community/list(category='간편조리도구팁')}"
                               href="/community/list?category=간편조리도구팁">

                                간편 조리도구 팁

                            </a>

                        </div>

                    </div>

                </div>

            </div>


            <!-- =========================
                 고객센터
            ========================== -->
            <div class="gnb-item dropdown-gnb-item">

                <a th:href="@{/notice/list}"
                   href="/notice/list"
                   class="gnb-link">

                    고객센터

                </a>

                <div class="vertical-dropdown customer-vertical-dropdown">

                    <div class="vertical-group">

                        <div class="vertical-group-title">

                            <span>고객센터</span>

                            <span class="vertical-arrow">
                                ▾
                            </span>

                        </div>

                        <div class="vertical-submenu">

                            <a th:href="@{/notice/list}"
                               href="/notice/list">

                                공지사항

                            </a>

                            <a th:href="@{/inquiry/list}"
                               href="/inquiry/list">

                                1 : 1 문의

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </nav>


        <!-- =========================
             로그인 전
        ========================== -->
        <div class="header-auth"
             th:if="${loginUsername == null}">

            <a th:href="@{/user/login}"
               href="/user/login"
               class="login-link">

                로그인

            </a>

            <a th:href="@{/user/create}"
               href="/user/create"
               class="join-link">

                회원가입

            </a>

        </div>


        <!-- =========================
             로그인 후
        ========================== -->
        <div class="header-auth"
             th:if="${loginUsername != null}">

            <a th:href="@{/mypage}"
               href="/mypage"
               class="login-link">

                마이페이지

            </a>

            <a th:href="@{/metaverse}"
               href="/metaverse"
               class="metaverse-header-btn">

                메타버스

            </a>

            <form th:action="@{/user/logout}"
                  action="/user/logout"
                  method="post"
                  class="logout-form">

                <button type="submit"
                        class="logout-btn">

                    로그아웃

                </button>

            </form>

        </div>

    </div>

</header>

</body>
</html>