* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #111;
    background: #fff;
    font-family: Arial, sans-serif;
}


/* 전체 페이지 */
.page {
     display: flex;
     flex-direction: column;
     height: 100%;
}
