* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #111;
    background: #fff;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 전체 페이지 */
.page {
     display: flex;
     flex-direction: column;
     height: 100%;
}

.main {
  display: flex;
  flex: 1;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  gap: 25px;
}

.category-kind {
  width: 750px;
  border: 3px solid #FFC3C3;
  border-radius: 5px;
  padding : 20px;
}

.all {
  padding : 12px 20px;
  background : #FFC3C3;
  border-radius: 5px;
  }

.korean
{padding : 0px 20px;}

.chinese
{padding : 0px 20px;}

.japanese
{padding : 0px 20px;}

.western
{padding : 0px 20px;}

.dessert
{padding : 0px 20px;}

.etc
{padding : 0px 20px;}

.best {
  padding : 12px 20px;
  background : #FF6B6B;
  border-radius: 5px;
}

.watch
{padding : 0px 20px;}

.search
{padding : 0px 20px;}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 200px;
}


.title strong {
  color: #C70000;
}

.list1 {
  border: 3px solid #C7C7C7;
  padding: 10px 20px;
}

.list2 {
  border: 3px solid #C7C7C7;
  padding: 10px 20px;
}

.list3 {
  border: 3px solid #C7C7C7;
  padding: 10px 20px;
}

.list1:hover {
  background-color: #FFE3E3;
}
.list2:hover {
  background-color: #FFE3E3;
}
.list3:hover {
  background-color: #FFE3E3;
}

.cook-box {
  display: flex;
  padding: 50px 200px;
  justify-content: space-between;
}

/*.cook-box2 {
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
}

.cook-box3 {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
}*/

.box-container {
  display: flex;
  flex-direction: column;
}

.food-img {
  width: 280px;
  height: 280px;
}

.box-line {
  width: 280px;
  height: 20px;
  background: #C70000;
  margin-top: -3px;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0px;
}

.tag-level {
  background: #DADADA;
  padding: 8px 13px;
  border-radius: 30px;
  margin-right: 10px;
}

.tag-time {
  background: #C2C2C2;
  padding: 8px 13px;
  border-radius: 30px;
}

.bottom {
  height: 200px;
  background: linear-gradient(to bottom, #FFFFFF, #FFC7C7);
}

