<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/course.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="page">
        <div class="category">
            <div class="category1">
                <a href="#" class="all">전체 보기</a>
                <a href="#" class="korean">• 한식</a>
                <a href="#" class="chinese">• 중식</a>
                <a href="#" class="japanese">• 일식</a>
                <a href="#" class="western">• 양식</a>
                <a href="#" class="dessert">• 간식 / 디저트</a>
                <a href="#" class="etc">• 기타</a>
            </div>

            <div class="category2">
                <a href="#" class="level">난인도</a>
                <a href="#" class="easy">• 쉬움</a>
                <a href="#" class="normal">• 보통</a>
                <a href="#" class="hard">• 어려움</a>
            </div>

            <div class="category3">
                <a href="#" class="best">베스트</a>
                <a href="#" class="watch">• 인기 시청순</a>
                <a href="#" class="search">• 인기 검색순</a>
            </div>
        </div>
    </div>

    <div class="intro">
        <h2 class="title">총 <strong>0000</strong>개의 강의가 있습니다.</h2>
        <div class="list">
            <a href="#" class="list1">최신순</a>
            <a href="#" class="list2">추천순</a>
            <a href="#" class="list3">난인도순</a>
            <a href="#" class="list4">조리시간순</a>
        </div>
    </div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>