<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/tips.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="page">
        <div class="category">
            <div class="category-kind">
                <a href="#" class="all">전체 보기</a>
                <a href="#" class="prep">재료 손질법</a>
                <a href="#" class="store">재료 보관법</a>
                <a href="#" class="tools">조리 도구 관리법</a>
            </div>
        </div>

        <div class="intro">
            <h2 class="title">재료 손질법</h2>
            <div class="list">
                <a href="#" class="list">전체 보기 〉</a>
            </div>
        </div>

        <div class="cook-box">
            <div class="box-container">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/100" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/110" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/120" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/130" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>
        </div>

        <div class="intro">
            <h2 class="title">재료 보관법</h2>
            <div class="list">
                <a href="#" class="list">전체 보기 〉</a>
            </div>
        </div>

        <div class="cook-box">
            <div class="box-container2">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/140" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container2">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/150" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container2">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/160" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container2">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/170" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>
        </div>

        <div class="intro">
            <h2 class="title">조리 도구 관리법</h2>
            <div class="list">
                <a href="#" class="list">전체 보기 〉</a>
            </div>
        </div>

        <div class="cook-box">
            <div class="box-container3">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/180" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container3">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/190" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container3">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/200" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>

            <div class="box-container3">
                <div class="box-img">
                    <a href="#">
                        <img src="https://picsum.photos/210" alt="프로필 이미지" class="food-img" >
                    </a>
                </div>
                <div class="box-line"></div>
                <div class="details">
                    <a href="#" class="subtitle">〈부제목〉</a>
                    <a href="#" class="name">〈제목〉</a>
                </div>
            </div>
        </div>

        <div class="bottom"></div>

    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>