<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${inquiry.subject} + ' | WebChef'">문의하기 상세페이지 | WebChef</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry-create.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry-view.css}">

</head>

<div th:replace="~{fragments/header :: header}"></div>

<body>
<main class="inquiry-wrap">
    
    <div class="inquiry-crumb">
        <a th:href="@{/inquiry/list}" style="color:inherit;text-decoration:none;">고객센터</a>
        &nbsp;›&nbsp; <span>1:1 문의</span>
    </div>

</main>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>